:root {
    --color-principal: #31470b;
    --color-secundario: #445a14;
    --color-letras: #d9ef9f;
    --color-boton-principal: #778c43;
    --color-boton-secundario: #586e26;
    --color-fondo: #ddd;
    --color-fondo-div: #eee;
}


* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}


body {
    background-color: var(--color-fondo);
}

.wrap {
    width: 75%;
    max-width: 1250px;
    margin: 0px auto;
}


.header {
    height: 100px;
    background-color: var(--color-principal);
    color: var(--color-letras);
    width: 100%;
}

.contentHeader {
    width: 75%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}

.sections {
    text-align: center;
    width: 35%;
}

.logo {
    width: 15%;
    text-align: right;
}

    .logo img {
        width: 40px;
        height: 40px;
        color: var(--color-letras);
    }

.title {
    width: 15%;
    text-align: left;
}

.links {
    width: 35%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.links-off {
    display: none;
}


.btn {
    text-decoration: none;
    padding: 10px 15px;
    color: var(--color-letras);
    border-radius: 10px;
}

.btn-login {
    background-color: var(--color-boton-principal);
}

.btn-signin {
    background-color: var(--color-boton-secundario);
}


.lnk-section {
    text-decoration: none;
    color: var(--color-letras);
    cursor: pointer;
    padding: 10px 15px;
    margin: 0px 10px;
}

    .lnk-section:hover {
        background-color: var(--color-secundario);
    }

.session {
    display: none;
}

.session-on {
    display: flex;
    width: 35%;
    justify-content: space-evenly;
    align-items: center;
}

.lbl-session {
    color: var(--color-letras);
    font-size: 16px;
}

.btn-session {
    background-color: var(--color-boton-principal);
}

.main-div {
    width: 100%;
    background-color: var(--color-fondo);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-div2 {
    width: 100%;
    background-color: var(--color-fondo);
    min-height: 500px;
    height: auto;
}

.body-form {
    width: 75%;
    height: 100%;
    min-height: 500px;
    margin: auto;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 10% 80% 10%;
}

.form-login {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    background-color: var(--color-fondo-div);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.form-login-section {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.login-txt {
    width: 100%;
    height: 30px;
}

.login-label {
    text-align: start;
    font-size: 25px;
}

.login-validate {
    text-align: start;
    font-size: 15px;
    color: #ff0000;
}

.form-link {
    font-weight: 700;
    text-decoration: underline;
    color: var(--color-principal);
    font-size: 15px;
    text-decoration-color: var(--color-principal);
}

.body-publication {
    width: 75%;
    min-height: 500px;
    margin: 0px auto;
}

.panel-lateral {
    min-height: 750px;
    float: left;
    min-width: 29%;
    border: 1px solid #ccc;
    display: flex;
    flex-flow: wrap column;
}
